/
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS DTS G7 Developer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        38529 - Grade 7 Developer Interview
      </h1>

      <h2 class="govuk-heading-m">DTS G7 Senior Developer</h2>

      <p>The interview comprises of 2 parts.  The second hour is used for a Coding Test.  The developer can use any programming language they choose</p>

      <p>The link to the Coding Test is below</p>

      <h2 class="govuk-heading-m">TFL Coding Test</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/task">Task</a>
        </li>
        <li>
          <a href="/sandy">Sandy's Attempt</a>
        </li>
        <li>
          <a href="/test">Test Page</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
